In [24]:
import pandas as pd
import numpy as np
import math

In [185]:
def prettyTable(df, col):
    a = df[col].value_counts(dropna = False)
    b = df[col].value_counts(normalize = True, dropna = False)
    c = pd.concat([a, b], axis = 1)
    c.columns = [col + '_count', col + '_ratio']
    return c

In [1]:
# cash flow simulations

In [ ]:
https://www.occ.treas.gov/publications-and-resources/publications/comptrollers-handbook/files/asset-securitization/pub-ch-asset-securitization.pdf
    page 54

### Sim 1 - Payments on One Loan

In [28]:
# sim 1 

loan_start_date = '09-01-2020'
loan_maturity_date = '08-31-2050'
# (pd.to_datetime(loan_maturity_date) - pd.to_datetime(loan_start_date)) // np.timedelta64(1, 'M')
# math.ceil((pd.to_datetime(loan_maturity_date) - pd.to_datetime(loan_start_date)) / np.timedelta64(1, 'M'))
number_of_pds = 360

loan_amnt = 500000
annual_ir = .045
monthly_ir = annual_ir / 12

In [119]:
# (pd.to_datetime(loan_maturity_date) - pd.to_datetime(loan_start_date)) // np.timedelta64(1, 'M')
# math.ceil((pd.to_datetime(loan_maturity_date) - pd.to_datetime(loan_start_date)) / np.timedelta64(1, 'M'))

360

In [39]:
# create dates

dates_index = pd.date_range(loan_start_date, loan_maturity_date, freq = 'M')

In [41]:
df = pd.DataFrame(columns = ['Period', 'Payment', 'Interest', 'Principal', 'Residual Balance'])
df

Empty DataFrame
Columns: [Period, Payment, Interest, Principal, Residual Balance]
Index: []

In [42]:
df['Period'] = dates_index
df

        Period Payment Interest Principal Residual Balance
0   2020-09-30     NaN      NaN       NaN              NaN
1   2020-10-31     NaN      NaN       NaN              NaN
2   2020-11-30     NaN      NaN       NaN              NaN
3   2020-12-31     NaN      NaN       NaN              NaN
4   2021-01-31     NaN      NaN       NaN              NaN
..         ...     ...      ...       ...              ...
355 2050-04-30     NaN      NaN       NaN              NaN
356 2050-05-31     NaN      NaN       NaN              NaN
357 2050-06-30     NaN      NaN       NaN              NaN
358 2050-07-31     NaN      NaN       NaN              NaN
359 2050-08-31     NaN      NaN       NaN              NaN

[360 rows x 5 columns]

In [47]:
# monthly payment formula
# M = P [ i(1 + i)^n ] / [ (1 + i)^n – 1]

monthly_payment = loan_amnt * ((monthly_ir * (monthly_ir + 1) ** number_of_pds) / (((monthly_ir + 1) ** (number_of_pds)) - 1))
monthly_payment = round(monthly_payment, 2)
monthly_payment

2533.43

In [48]:
df['Payment'] = monthly_payment

In [49]:
df

        Period  Payment Interest Principal Residual Balance
0   2020-09-30  2533.43      NaN       NaN              NaN
1   2020-10-31  2533.43      NaN       NaN              NaN
2   2020-11-30  2533.43      NaN       NaN              NaN
3   2020-12-31  2533.43      NaN       NaN              NaN
4   2021-01-31  2533.43      NaN       NaN              NaN
..         ...      ...      ...       ...              ...
355 2050-04-30  2533.43      NaN       NaN              NaN
356 2050-05-31  2533.43      NaN       NaN              NaN
357 2050-06-30  2533.43      NaN       NaN              NaN
358 2050-07-31  2533.43      NaN       NaN              NaN
359 2050-08-31  2533.43      NaN       NaN              NaN

[360 rows x 5 columns]

In [50]:
loan_amnt * monthly_ir

1875.0

In [52]:
round(monthly_payment - (loan_amnt * monthly_ir), 2)

658.43

In [53]:
loan_amnt - round(monthly_payment - (loan_amnt * monthly_ir), 2)

499341.57

In [58]:
initial_payment = [loan_amnt * monthly_ir, round(monthly_payment - (loan_amnt * monthly_ir), 2), loan_amnt - round(monthly_payment - (loan_amnt * monthly_ir), 2)]

In [59]:
initial_payment

[1875.0, 658.43, 499341.57]

In [60]:
df.loc[0, ['Interest', 'Principal', 'Residual Balance']]

Interest            NaN
Principal           NaN
Residual Balance    NaN
Name: 0, dtype: object

In [61]:
df.loc[0, ['Interest', 'Principal', 'Residual Balance']] = initial_payment

In [62]:
df

        Period  Payment Interest Principal Residual Balance
0   2020-09-30  2533.43   1875.0    658.43        499341.57
1   2020-10-31  2533.43      NaN       NaN              NaN
2   2020-11-30  2533.43      NaN       NaN              NaN
3   2020-12-31  2533.43      NaN       NaN              NaN
4   2021-01-31  2533.43      NaN       NaN              NaN
..         ...      ...      ...       ...              ...
355 2050-04-30  2533.43      NaN       NaN              NaN
356 2050-05-31  2533.43      NaN       NaN              NaN
357 2050-06-30  2533.43      NaN       NaN              NaN
358 2050-07-31  2533.43      NaN       NaN              NaN
359 2050-08-31  2533.43      NaN       NaN              NaN

[360 rows x 5 columns]

In [64]:
df.loc[1, ]

Period              2020-10-31 00:00:00
Payment                         2533.43
Interest                            NaN
Principal                           NaN
Residual Balance                    NaN
Name: 1, dtype: object

In [99]:
int_vals = []
prin_vals = []
bal_vals = []

for i in df.index[1:, ]:
    interest = round(monthly_ir * df.iloc[i-1]['Residual Balance'], 2)
    principal = round(df.iloc[i]['Payment'] - interest, 2)
    res_bal = round(df.iloc[i-1]['Residual Balance'] - principal, 2)
    df.loc[i, ['Interest', 'Principal', 'Residual Balance']] = [interest, principal, res_bal]
    int_vals.append(interest)
    prin_vals.append(principal)
    bal_vals.append(res_bal)

In [101]:
# int_vals
# prin_vals
# bal_vals

In [102]:
df

        Period  Payment Interest Principal Residual Balance
0   2020-09-30  2533.43   1875.0    658.43        499341.57
1   2020-10-31  2533.43  1872.53     660.9        498680.67
2   2020-11-30  2533.43  1870.05    663.38        498017.29
3   2020-12-31  2533.43  1867.56    665.87        497351.42
4   2021-01-31  2533.43  1865.07    668.36        496683.06
..         ...      ...      ...       ...              ...
355 2050-04-30  2533.43    46.96   2486.47         10036.95
356 2050-05-31  2533.43    37.64   2495.79          7541.16
357 2050-06-30  2533.43    28.28   2505.15          5036.01
358 2050-07-31  2533.43    18.89   2514.54          2521.47
359 2050-08-31  2533.43     9.46   2523.97             -2.5

[360 rows x 5 columns]

In [113]:
# df['Residual Balance'] = df['Residual Balance'].clip(lower = 0)

In [114]:
df

        Period  Payment Interest Principal Residual Balance
0   2020-09-30  2533.43   1875.0    658.43        499341.57
1   2020-10-31  2533.43  1872.53     660.9        498680.67
2   2020-11-30  2533.43  1870.05    663.38        498017.29
3   2020-12-31  2533.43  1867.56    665.87        497351.42
4   2021-01-31  2533.43  1865.07    668.36        496683.06
..         ...      ...      ...       ...              ...
355 2050-04-30  2533.43    46.96   2486.47         10036.95
356 2050-05-31  2533.43    37.64   2495.79          7541.16
357 2050-06-30  2533.43    28.28   2505.15          5036.01
358 2050-07-31  2533.43    18.89   2514.54          2521.47
359 2050-08-31  2533.43     9.46   2523.97                0

[360 rows x 5 columns]

In [115]:
display(df['Payment'].sum())
display(df['Interest'].sum())
display(df['Principal'].sum())

912034.8

412032.29999999993

500002.50000000006

In [116]:
df['Residual Balance'].clip(lower = 0)

0      499341.57
1      498680.67
2      498017.29
3      497351.42
4      496683.06
         ...
355     10036.95
356      7541.16
357      5036.01
358      2521.47
359            0
Name: Residual Balance, Length: 360, dtype: object

### Automating

In [126]:
# making functions to run the sim

#### Assumptions and Inputs

In [127]:
# Assumptions


loan_start_date = '09-01-2020'
loan_maturity_date = '08-31-2050'

loan_amnt = 500000
annual_ir = .045


number_of_pds = math.ceil((pd.to_datetime(loan_maturity_date) - pd.to_datetime(loan_start_date)) / np.timedelta64(1, 'M'))
monthly_ir = annual_ir / 12

In [128]:
# create dates

dates_index = pd.date_range(loan_start_date, loan_maturity_date, freq = 'M')

In [129]:
df = pd.DataFrame(columns = ['Period', 'Payment', 'Interest', 'Principal', 'Residual Balance'])
df['Period'] = dates_index

In [130]:
# monthly payment formula
# M = P [ i(1 + i)^n ] / [ (1 + i)^n – 1]

monthly_payment = loan_amnt * ((monthly_ir * (monthly_ir + 1) ** number_of_pds) / (((monthly_ir + 1) ** (number_of_pds)) - 1))
monthly_payment = round(monthly_payment, 2)
monthly_payment

2533.43

In [131]:
df['Payment'] = monthly_payment

In [132]:
# initial amounts

# first interest payment
display(loan_amnt * monthly_ir)
first_int_pmnt = loan_amnt * monthly_ir

# first payment towards principal
display(round(monthly_payment - (loan_amnt * monthly_ir), 2))
first_prin_pmnt = round(monthly_payment - (loan_amnt * monthly_ir), 2)

# residual balance after first (principal) payment
display(loan_amnt - round(monthly_payment - (loan_amnt * monthly_ir), 2))
first_res_bal = loan_amnt - round(monthly_payment - (loan_amnt * monthly_ir), 2)

1875.0

658.43

499341.57

In [133]:
initial_payment = [loan_amnt * monthly_ir, round(monthly_payment - (loan_amnt * monthly_ir), 2), loan_amnt - round(monthly_payment - (loan_amnt * monthly_ir), 2)]
initial_payment

[1875.0, 658.43, 499341.57]

In [134]:
df.loc[0, ['Interest', 'Principal', 'Residual Balance']] = initial_payment

In [135]:
int_vals = []
prin_vals = []
bal_vals = []

for i in df.index[1:, ]:
    interest = round(monthly_ir * df.iloc[i-1]['Residual Balance'], 2)
    principal = round(df.iloc[i]['Payment'] - interest, 2)
    res_bal = round(df.iloc[i-1]['Residual Balance'] - principal, 2)
    df.loc[i, ['Interest', 'Principal', 'Residual Balance']] = [interest, principal, res_bal]
    int_vals.append(interest)
    prin_vals.append(principal)
    bal_vals.append(res_bal)

In [136]:
# int_vals
# prin_vals
# bal_vals

In [141]:
# df['Residual Balance'] = df['Residual Balance'].clip(lower = 0)

In [142]:
df

        Period  Payment Interest Principal Residual Balance
0   2020-09-30  2533.43   1875.0    658.43        499341.57
1   2020-10-31  2533.43  1872.53     660.9        498680.67
2   2020-11-30  2533.43  1870.05    663.38        498017.29
3   2020-12-31  2533.43  1867.56    665.87        497351.42
4   2021-01-31  2533.43  1865.07    668.36        496683.06
..         ...      ...      ...       ...              ...
355 2050-04-30  2533.43    46.96   2486.47         10036.95
356 2050-05-31  2533.43    37.64   2495.79          7541.16
357 2050-06-30  2533.43    28.28   2505.15          5036.01
358 2050-07-31  2533.43    18.89   2514.54          2521.47
359 2050-08-31  2533.43     9.46   2523.97             -2.5

[360 rows x 5 columns]

In [143]:
display(df['Payment'].sum())
display(df['Interest'].sum())
display(df['Principal'].sum())

912034.8

412032.29999999993

500002.50000000006

In [155]:
# Assumptions and Inputs


loan_start_date = '09-01-2020'
loan_maturity_date = '08-31-2050'

loan_amnt = 500000
annual_ir = .045

number_of_pds = math.ceil((pd.to_datetime(loan_maturity_date) - pd.to_datetime(loan_start_date)) / np.timedelta64(1, 'M'))
monthly_ir = annual_ir / 12


dates_index = pd.date_range(loan_start_date, loan_maturity_date, freq = 'M')

df = pd.DataFrame(columns = ['Period', 'Payment', 'Interest', 'Principal', 'Residual Balance'])
df['Period'] = dates_index


monthly_payment = loan_amnt * ((monthly_ir * (monthly_ir + 1) ** number_of_pds) / (((monthly_ir + 1) ** (number_of_pds)) - 1))
monthly_payment = round(monthly_payment, 2)
df['Payment'] = monthly_payment


first_int_pmnt = loan_amnt * monthly_ir
first_prin_pmnt = round(monthly_payment - (loan_amnt * monthly_ir), 2)
first_res_bal = loan_amnt - round(monthly_payment - (loan_amnt * monthly_ir), 2)

initial_payment = [loan_amnt * monthly_ir, round(monthly_payment - (loan_amnt * monthly_ir), 2), loan_amnt - round(monthly_payment - (loan_amnt * monthly_ir), 2)]

df.loc[0, ['Interest', 'Principal', 'Residual Balance']] = initial_payment

# df['Residual Balance'] = df['Residual Balance'].clip(lower = 0)

In [156]:
# creating function
int_vals = []
prin_vals = []
bal_vals = []

for i in df.index[1:, ]:
    interest = round(monthly_ir * df.iloc[i-1]['Residual Balance'], 2)
    principal = round(df.iloc[i]['Payment'] - interest, 2)
    res_bal = round(df.iloc[i-1]['Residual Balance'] - principal, 2)
    df.loc[i, ['Interest', 'Principal', 'Residual Balance']] = [interest, principal, res_bal]
    int_vals.append(interest)
    prin_vals.append(principal)
    bal_vals.append(res_bal)

In [157]:
df

        Period  Payment Interest Principal Residual Balance
0   2020-09-30  2533.43   1875.0    658.43        499341.57
1   2020-10-31  2533.43  1872.53     660.9        498680.67
2   2020-11-30  2533.43  1870.05    663.38        498017.29
3   2020-12-31  2533.43  1867.56    665.87        497351.42
4   2021-01-31  2533.43  1865.07    668.36        496683.06
..         ...      ...      ...       ...              ...
355 2050-04-30  2533.43    46.96   2486.47         10036.95
356 2050-05-31  2533.43    37.64   2495.79          7541.16
357 2050-06-30  2533.43    28.28   2505.15          5036.01
358 2050-07-31  2533.43    18.89   2514.54          2521.47
359 2050-08-31  2533.43     9.46   2523.97             -2.5

[360 rows x 5 columns]

In [158]:
int_vals = []
prin_vals = []
bal_vals = []

def create_pmnt_df(df):
    for i in df.index[1:, ]:
        interest = round(monthly_ir * df.iloc[i-1]['Residual Balance'], 2)
        principal = round(df.iloc[i]['Payment'] - interest, 2)
        res_bal = round(df.iloc[i-1]['Residual Balance'] - principal, 2)
        df.loc[i, ['Interest', 'Principal', 'Residual Balance']] = [interest, principal, res_bal]
        int_vals.append(interest)
        prin_vals.append(principal)
        bal_vals.append(res_bal)
    return df

In [159]:
create_pmnt_df(df)

        Period  Payment Interest Principal Residual Balance
0   2020-09-30  2533.43   1875.0    658.43        499341.57
1   2020-10-31  2533.43  1872.53     660.9        498680.67
2   2020-11-30  2533.43  1870.05    663.38        498017.29
3   2020-12-31  2533.43  1867.56    665.87        497351.42
4   2021-01-31  2533.43  1865.07    668.36        496683.06
..         ...      ...      ...       ...              ...
355 2050-04-30  2533.43    46.96   2486.47         10036.95
356 2050-05-31  2533.43    37.64   2495.79          7541.16
357 2050-06-30  2533.43    28.28   2505.15          5036.01
358 2050-07-31  2533.43    18.89   2514.54          2521.47
359 2050-08-31  2533.43     9.46   2523.97             -2.5

[360 rows x 5 columns]

In [ ]:
# creating full function

### Sim 2 - Payments on Two Loans

In [160]:
# int_vals = []
# prin_vals = []
# bal_vals = []

def create_pmnt_df(df):
    for i in df.index[1:, ]:
        interest = round(monthly_ir * df.iloc[i-1]['Residual Balance'], 2)
        principal = round(df.iloc[i]['Payment'] - interest, 2)
        res_bal = round(df.iloc[i-1]['Residual Balance'] - principal, 2)
        df.loc[i, ['Interest', 'Principal', 'Residual Balance']] = [interest, principal, res_bal]
#         int_vals.append(interest)
#         prin_vals.append(principal)
#         bal_vals.append(res_bal)
    return df

In [182]:
# Assumptions and Inputs
# lets use specified start and end dates for the payments on each loan


#loan 1
loan_start_date = '09-01-2020'
loan_maturity_date = '08-31-2025'

loan_amnt = 500000
annual_ir = .045

number_of_pds = math.ceil((pd.to_datetime(loan_maturity_date) - pd.to_datetime(loan_start_date)) / np.timedelta64(1, 'M'))
monthly_ir = annual_ir / 12


dates_index = pd.date_range(loan_start_date, loan_maturity_date, freq = 'M')

df = pd.DataFrame(columns = ['Period', 'Payment', 'Interest', 'Principal', 'Residual Balance'])
df['Period'] = dates_index
df['Tranche'] = 'A'


monthly_payment = loan_amnt * ((monthly_ir * (monthly_ir + 1) ** number_of_pds) / (((monthly_ir + 1) ** (number_of_pds)) - 1))
monthly_payment = round(monthly_payment, 2)
df['Payment'] = monthly_payment


first_int_pmnt = round(loan_amnt * monthly_ir, 2)
first_prin_pmnt = round(monthly_payment - (loan_amnt * monthly_ir), 2)
first_res_bal = loan_amnt - round(monthly_payment - (loan_amnt * monthly_ir), 2)

initial_payment = [first_int_pmnt, first_prin_pmnt, first_res_bal]

df.loc[0, ['Interest', 'Principal', 'Residual Balance']] = initial_payment

# df['Residual Balance'] = df['Residual Balance'].clip(lower = 0)

loan_1 = create_pmnt_df(df)
loan_1

       Period  Payment Interest Principal Residual Balance Tranche
0  2020-09-30  9321.51   1875.0   7446.51        492553.49       A
1  2020-10-31  9321.51  1847.08   7474.43        485079.06       A
2  2020-11-30  9321.51  1819.05   7502.46         477576.6       A
3  2020-12-31  9321.51  1790.91    7530.6         470046.0       A
4  2021-01-31  9321.51  1762.67   7558.84        462487.16       A
5  2021-02-28  9321.51  1734.33   7587.18        454899.98       A
6  2021-03-31  9321.51  1705.87   7615.64        447284.34       A
7  2021-04-30  9321.51  1677.32   7644.19        439640.15       A
8  2021-05-31  9321.51  1648.65   7672.86        431967.29       A
9  2021-06-30  9321.51  1619.88   7701.63        424265.66       A
10 2021-07-31  9321.51   1591.0   7730.51        416535.15       A
11 2021-08-31  9321.51  1562.01    7759.5        408775.65       A
12 2021-09-30  9321.51  1532.91    7788.6        400987.05       A
13 2021-10-31  9321.51   1503.7   7817.81        393169.24       A
14 2021-11-30  9321.51  1474.38   7847.13        385322.11       A
15 2021-12-31  9321.51  1444.96   7876.55        377445.56       A
16 2022-01-31  9321.51  1415.42   7906.09        369539.47       A
17 2022-02-28  9321.51  1385.77   7935.74        361603.73       A
18 2022-03-31  9321.51  1356.01    7965.5        353638.23       A
19 2022-04-30  9321.51  1326.14   7995.37        345642.86       A
20 2022-05-31  9321.51  1296.16   8025.35        337617.51       A
21 2022-06-30  9321.51  1266.07   8055.44        329562.07       A
22 2022-07-31  9321.51  1235.86   8085.65        321476.42       A
23 2022-08-31  9321.51  1205.54   8115.97        313360.45       A
24 2022-09-30  9321.51   1175.1   8146.41        305214.04       A
25 2022-10-31  9321.51  1144.55   8176.96        297037.08       A
26 2022-11-30  9321.51  1113.89   8207.62        288829.46       A
27 2022-12-31  9321.51  1083.11    8238.4        280591.06       A
28 2023-01-31  9321.51  1052.22   8269.29        272321.77       A
29 2023-02-28  9321.51  1021.21    8300.3        264021.47       A
30 2023-03-31  9321.51   990.08   8331.43        255690.04       A
31 2023-04-30  9321.51   958.84   8362.67        247327.37       A
32 2023-05-31  9321.51   927.48   8394.03        238933.34       A
33 2023-06-30  9321.51    896.0   8425.51        230507.83       A
34 2023-07-31  9321.51    864.4   8457.11        222050.72       A
35 2023-08-31  9321.51   832.69   8488.82         213561.9       A
36 2023-09-30  9321.51   800.86   8520.65        205041.25       A
37 2023-10-31  9321.51    768.9   8552.61        196488.64       A
38 2023-11-30  9321.51   736.83   8584.68        187903.96       A
39 2023-12-31  9321.51   704.64   8616.87        179287.09       A
40 2024-01-31  9321.51   672.33   8649.18        170637.91       A
41 2024-02-29  9321.51   639.89   8681.62        161956.29       A
42 2024-03-31  9321.51   607.34   8714.17        153242.12       A
43 2024-04-30  9321.51   574.66   8746.85        144495.27       A
44 2024-05-31  9321.51   541.86   8779.65        135715.62       A
45 2024-06-30  9321.51   508.93   8812.58        126903.04       A
46 2024-07-31  9321.51   475.89   8845.62        118057.42       A
47 2024-08-31  9321.51   442.72   8878.79        109178.63       A
48 2024-09-30  9321.51   409.42   8912.09        100266.54       A
49 2024-10-31  9321.51    376.0   8945.51         91321.03       A
50 2024-11-30  9321.51   342.45   8979.06         82341.97       A
51 2024-12-31  9321.51   308.78   9012.73         73329.24       A
52 2025-01-31  9321.51   274.98   9046.53         64282.71       A
53 2025-02-28  9321.51   241.06   9080.45         55202.26       A
54 2025-03-31  9321.51   207.01    9114.5         46087.76       A
55 2025-04-30  9321.51   172.83   9148.68         36939.08       A
56 2025-05-31  9321.51   138.52   9182.99         27756.09       A
57 2025-06-30  9321.51   104.09   9217.42         18538.67       A
58 2025-07-31  9321.51    69.52   9251.99          9286.68       A
59 2025-08-31  9321.51    34.83   9286.68              0.0       A

In [181]:
# Assumptions and Inputs
# lets use specified start and end dates for the payments on each loan


#loan 2
loan_start_date = '09-01-2025'
loan_maturity_date = '08-31-2030'

loan_amnt = 250000
annual_ir = .065

number_of_pds = math.ceil((pd.to_datetime(loan_maturity_date) - pd.to_datetime(loan_start_date)) / np.timedelta64(1, 'M'))
monthly_ir = annual_ir / 12


dates_index = pd.date_range(loan_start_date, loan_maturity_date, freq = 'M')

df = pd.DataFrame(columns = ['Period', 'Payment', 'Interest', 'Principal', 'Residual Balance'])
df['Period'] = dates_index
df['Tranche'] = 'B'

monthly_payment = loan_amnt * ((monthly_ir * (monthly_ir + 1) ** number_of_pds) / (((monthly_ir + 1) ** (number_of_pds)) - 1))
monthly_payment = round(monthly_payment, 2)
df['Payment'] = monthly_payment


first_int_pmnt = round(loan_amnt * monthly_ir, 2)
first_prin_pmnt = round(monthly_payment - (loan_amnt * monthly_ir), 2)
first_res_bal = loan_amnt - round(monthly_payment - (loan_amnt * monthly_ir), 2)

initial_payment = [first_int_pmnt, first_prin_pmnt, first_res_bal]

df.loc[0, ['Interest', 'Principal', 'Residual Balance']] = initial_payment

# df['Residual Balance'] = df['Residual Balance'].clip(lower = 0)

loan_2 = create_pmnt_df(df)
loan_2

       Period  Payment Interest Principal Residual Balance Tranche
0  2025-09-30  4891.54  1354.17   3537.37        246462.63       B
1  2025-10-31  4891.54  1335.01   3556.53         242906.1       B
2  2025-11-30  4891.54  1315.74    3575.8         239330.3       B
3  2025-12-31  4891.54  1296.37   3595.17        235735.13       B
4  2026-01-31  4891.54   1276.9   3614.64        232120.49       B
5  2026-02-28  4891.54  1257.32   3634.22        228486.27       B
6  2026-03-31  4891.54  1237.63   3653.91        224832.36       B
7  2026-04-30  4891.54  1217.84    3673.7        221158.66       B
8  2026-05-31  4891.54  1197.94    3693.6        217465.06       B
9  2026-06-30  4891.54  1177.94    3713.6        213751.46       B
10 2026-07-31  4891.54  1157.82   3733.72        210017.74       B
11 2026-08-31  4891.54   1137.6   3753.94         206263.8       B
12 2026-09-30  4891.54  1117.26   3774.28        202489.52       B
13 2026-10-31  4891.54  1096.82   3794.72         198694.8       B
14 2026-11-30  4891.54  1076.26   3815.28        194879.52       B
15 2026-12-31  4891.54   1055.6   3835.94        191043.58       B
16 2027-01-31  4891.54  1034.82   3856.72        187186.86       B
17 2027-02-28  4891.54  1013.93   3877.61        183309.25       B
18 2027-03-31  4891.54   992.93   3898.61        179410.64       B
19 2027-04-30  4891.54   971.81   3919.73        175490.91       B
20 2027-05-31  4891.54   950.58   3940.96        171549.95       B
21 2027-06-30  4891.54   929.23   3962.31        167587.64       B
22 2027-07-31  4891.54   907.77   3983.77        163603.87       B
23 2027-08-31  4891.54   886.19   4005.35        159598.52       B
24 2027-09-30  4891.54   864.49   4027.05        155571.47       B
25 2027-10-31  4891.54   842.68   4048.86        151522.61       B
26 2027-11-30  4891.54   820.75   4070.79        147451.82       B
27 2027-12-31  4891.54    798.7   4092.84        143358.98       B
28 2028-01-31  4891.54   776.53   4115.01        139243.97       B
29 2028-02-29  4891.54   754.24    4137.3        135106.67       B
30 2028-03-31  4891.54   731.83   4159.71        130946.96       B
31 2028-04-30  4891.54    709.3   4182.24        126764.72       B
32 2028-05-31  4891.54   686.64    4204.9        122559.82       B
33 2028-06-30  4891.54   663.87   4227.67        118332.15       B
34 2028-07-31  4891.54   640.97   4250.57        114081.58       B
35 2028-08-31  4891.54   617.94    4273.6        109807.98       B
36 2028-09-30  4891.54   594.79   4296.75        105511.23       B
37 2028-10-31  4891.54   571.52   4320.02        101191.21       B
38 2028-11-30  4891.54   548.12   4343.42         96847.79       B
39 2028-12-31  4891.54   524.59   4366.95         92480.84       B
40 2029-01-31  4891.54   500.94    4390.6         88090.24       B
41 2029-02-28  4891.54   477.16   4414.38         83675.86       B
42 2029-03-31  4891.54   453.24    4438.3         79237.56       B
43 2029-04-30  4891.54    429.2   4462.34         74775.22       B
44 2029-05-31  4891.54   405.03   4486.51         70288.71       B
45 2029-06-30  4891.54   380.73   4510.81          65777.9       B
46 2029-07-31  4891.54    356.3   4535.24         61242.66       B
47 2029-08-31  4891.54   331.73   4559.81         56682.85       B
48 2029-09-30  4891.54   307.03   4584.51         52098.34       B
49 2029-10-31  4891.54    282.2   4609.34          47489.0       B
50 2029-11-30  4891.54   257.23   4634.31         42854.69       B
51 2029-12-31  4891.54   232.13   4659.41         38195.28       B
52 2030-01-31  4891.54   206.89   4684.65         33510.63       B
53 2030-02-28  4891.54   181.52   4710.02         28800.61       B
54 2030-03-31  4891.54    156.0   4735.54         24065.07       B
55 2030-04-30  4891.54   130.35   4761.19         19303.88       B
56 2030-05-31  4891.54   104.56   4786.98          14516.9       B
57 2030-06-30  4891.54    78.63   4812.91          9703.99       B
58 2030-07-31  4891.54    52.56   4838.98          4865.01       B
59 2030-08-31  4891.54    26.35   4865.19            -0.18       B

In [187]:
pd.options.display.max_rows = 200
result_1 = loan_1.append(loan_2)

In [188]:
loan_1.head()

      Period  Payment Interest Principal Residual Balance Tranche
0 2020-09-30  9321.51   1875.0   7446.51        492553.49       A
1 2020-10-31  9321.51  1847.08   7474.43        485079.06       A
2 2020-11-30  9321.51  1819.05   7502.46         477576.6       A
3 2020-12-31  9321.51  1790.91    7530.6         470046.0       A
4 2021-01-31  9321.51  1762.67   7558.84        462487.16       A

In [189]:
loan_2.head()

      Period  Payment Interest Principal Residual Balance Tranche
0 2025-09-30  4891.54  1354.17   3537.37        246462.63       B
1 2025-10-31  4891.54  1335.01   3556.53         242906.1       B
2 2025-11-30  4891.54  1315.74    3575.8         239330.3       B
3 2025-12-31  4891.54  1296.37   3595.17        235735.13       B
4 2026-01-31  4891.54   1276.9   3614.64        232120.49       B

In [ ]:
### Sim 3 - Payments on Threee Loans

In [ ]:
### Sim 4 - Payments on Three Loans + Equity Piece

In [ ]:
### Sim 5 - Payments on Three Loans + Equity Piece, with Prepayments