In [75]:
import pandas as pd
pd.options.display.max_columns = 200
import numpy as np


def prettyTable(dataframe, column):
    z = pd.DataFrame(columns = [dataframe[column].value_counts(True).index, dataframe[column].value_counts(True), dataframe[column].value_counts()]).T
    return z

In [29]:
# loans_full_schema = pd.read_csv('loans_full_schema.csv')
# print(loans_full_schema['loan_status'].value_counts(dropna = False))
# loans_full_schema

,emp_title,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,annual_income_joint,verification_income_joint,debt_to_income_joint,delinq_2y,months_since_last_delinq,earliest_credit_line,inquiries_last_12m,total_credit_lines,open_credit_lines,total_credit_limit,total_credit_utilized,num_collections_last_12m,num_historical_failed_to_pay,months_since_90d_late,current_accounts_delinq,total_collection_amount_ever,current_installment_accounts,accounts_opened_24m,months_since_last_credit_inquiry,num_satisfactory_accounts,num_accounts_120d_past_due,num_accounts_30d_past_due,num_active_debit_accounts,total_debit_limit,num_total_cc_accounts,num_open_cc_accounts,num_cc_carrying_balance,num_mort_accounts,account_never_delinq_percent,tax_liens,public_record_bankrupt,loan_purpose,application_type,loan_amount,term,interest_rate,installment,grade,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
0,global config engineer,3.0,NJ,MORTGAGE,90000.0,Verified,18.01,NaN,NaN,NaN,0,38.0,2001,6,28,10,70795,38767,0,0,38.0,0,1250,2,5,5.0,10,0.0,0,2,11100,14,8,6,1,92.9,0,0,moving,individual,28000,60,14.07,652.53,C,C3,Mar-2018,Current,whole,Cash,27015.86,1999.33,984.14,1015.19,0.0
1,warehouse office clerk,10.0,HI,RENT,40000.0,Not Verified,5.04,NaN,NaN,NaN,0,NaN,1996,1,30,14,28800,4321,0,1,NaN,0,0,0,11,8.0,14,0.0,0,3,16500,24,14,4,0,100.0,0,1,debt_consolidation,individual,5000,36,12.61,167.54,C,C1,Feb-2018,Current,whole,Cash,4651.37,499.12,348.63,150.49,0.0
2,assembly,3.0,WI,RENT,40000.0,Source Verified,21.15,NaN,NaN,NaN,0,28.0,2006,4,31,10,24193,16000,0,0,28.0,0,432,1,13,7.0,10,0.0,0,3,4300,14,8,6,0,93.5,0,0,other,individual,2000,36,17.09,71.40,D,D1,Feb-2018,Current,fractional,Cash,1824.63,281.80,175.37,106.43,0.0
3,customer service,1.0,PA,RENT,30000.0,Not Verified,10.16,NaN,NaN,NaN,0,NaN,2007,0,4,4,25400,4997,0,1,NaN,0,0,1,1,15.0,4,0.0,0,2,19400,3,3,2,0,100.0,1,0,debt_consolidation,individual,21600,36,6.72,664.19,A,A3,Jan-2018,Current,whole,Cash,18853.26,3312.89,2746.74,566.15,0.0
4,security supervisor,10.0,CA,RENT,35000.0,Verified,57.96,57000.0,Verified,37.66,0,NaN,2008,7,22,16,69839,52722,0,0,NaN,0,0,1,6,4.0,16,0.0,0,10,32700,20,15,13,0,100.0,0,0,credit_card,joint,23000,36,14.07,786.87,C,C3,Mar-2018,Current,whole,Cash,21430.15,2324.65,1569.85,754.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,owner,10.0,TX,RENT,108000.0,Source Verified,22.28,NaN,NaN,NaN,0,NaN,2008,5,44,13,199195,77963,0,1,NaN,0,0,3,8,6.0,13,0.0,0,4,44600,22,9,4,1,100.0,0,1,other,individual,24000,36,7.35,744.90,A,A4,Jan-2018,Current,whole,Cash,21586.34,2969.80,2413.66,556.14,0.0
9996,director,8.0,PA,MORTGAGE,121000.0,Verified,32.38,NaN,NaN,NaN,4,9.0,1994,1,28,15,382061,101571,0,0,9.0,0,0,3,0,1.0,15,0.0,0,5,28200,18,11,8,2,82.1,0,0,debt_consolidation,individual,10000,36,19.03,366.72,D,D3,Feb-2018,Current,whole,Cash,9147.44,1456.31,852.56,603.75,0.0
9997,toolmaker,10.0,CT,MORTGAGE,67000.0,Verified,45.26,107000.0,Source Verified,29.57,2,6.0,2004,0,18,11,346402,95421,0,0,NaN,0,0,3,4,16.0,11,0.0,0,5,14900,9,7,5,2,72.2,0,0,debt_consolidation,joint,30000,36,23.88,1175.10,E,E2,Feb-2018,Current,fractional,Cash,27617.65,4620.80,2382.35,2238.45,0.0
9998,manager,1.0,WI,MORTGAGE,80000.0,Source Verified,11.99,NaN,NaN,NaN,0,NaN,1999,1,38,15,294475,27641,0,0,NaN,0,0,2,2,5.0,15,0.0,0,1,46000,15,9,2,6,100.0,0,0,other,individual,24000,36,5.32,722.76,A,A1,Feb-2018,Current,whole,Cash,21518.12,2873.31,2481.88,391.43,0.0
9999,operations analyst,3.0,CT,RENT,66000.0,Not Verified,20.82,NaN,NaN,NaN,0,NaN,2005,0,15,11,91887,53413,0,0,NaN,0,0,5,4,18.0,11,0.0,0,5,36800,6,5,5,0,100.0,0,0,credit_card,individual,12800,36,10.91,418.52,B,B4,Feb-2018,Current,whole,Cash,11574.83,1658.56,1225.17,433.39,0.0

In [ ]:
# accepted_2007_to_2018Q4 = pd.read_csv('accepted_2007_to_2018Q4.csv', nrows = 10000)
# accepted_2007_to_2018Q4 = accepted_2007_to_2018Q4[sorted(accepted_2007_to_2018Q4.columns.tolist())]
# print(accepted_2007_to_2018Q4['loan_status'].value_counts(dropna = False))
# accepted_2007_to_2018Q4

## Cleaning and Initial EDA

In [32]:
cr_loan2 = pd.read_csv('cr_loan2.csv')
cr_loan2

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
...,...,...,...,...,...,...,...,...,...,...,...,...
32576,57,53000,MORTGAGE,1.0,PERSONAL,C,5800,13.16,0,0.11,N,30
32577,54,120000,MORTGAGE,4.0,PERSONAL,A,17625,7.49,0,0.15,N,19
32578,65,76000,RENT,3.0,HOMEIMPROVEMENT,B,35000,10.99,1,0.46,N,28
32579,56,150000,MORTGAGE,5.0,PERSONAL,B,15000,11.48,0,0.10,N,26
32580,66,42000,RENT,2.0,MEDICAL,B,6475,9.99,0,0.15,N,30

In [57]:
print(cr_loan2['loan_status'].value_counts(True, dropna = False))
cr_loan2['loan_status'].value_counts(dropna = False)

0    0.781836
1    0.218164
Name: loan_status, dtype: float64

0    25473
1     7108
Name: loan_status, dtype: int64

In [39]:
df = cr_loan2.copy()
df.isna().sum()

person_age                       0
person_income                    0
person_home_ownership            0
person_emp_length              895
loan_intent                      0
loan_grade                       0
loan_amnt                        0
loan_int_rate                 3116
loan_status                      0
loan_percent_income              0
cb_person_default_on_file        0
cb_person_cred_hist_length       0
dtype: int64

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32581 entries, 0 to 32580
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_age                  32581 non-null  int64
 1   person_income               32581 non-null  int64
 2   person_home_ownership       32581 non-null  object
 3   person_emp_length           31686 non-null  float64
 4   loan_intent                 32581 non-null  object
 5   loan_grade                  32581 non-null  object
 6   loan_amnt                   32581 non-null  int64
 7   loan_int_rate               29465 non-null  float64
 8   loan_status                 32581 non-null  int64
 9   loan_percent_income         32581 non-null  float64
 10  cb_person_default_on_file   32581 non-null  object
 11  cb_person_cred_hist_length  32581 non-null  int64
dtypes: float64(3), int64(5), object(4)
memory usage: 3.0+ MB

In [44]:
mean_pel = df[df['person_emp_length'].isna() != True]['person_emp_length'].mean()
mean_lir = df[df['loan_int_rate'].isna() != True]['loan_int_rate'].mean()

print(mean_pel)
print(mean_lir)

4.789686296787225
11.01169489224439

In [48]:
min(df['loan_int_rate'])
max(df['loan_int_rate'])

23.22

In [51]:
df['loan_int_rate'] = df['loan_int_rate'].fillna(mean_lir)
df['person_emp_length'] = df['person_emp_length'].fillna(mean_pel)

In [52]:
df.isna().sum()

person_age                    0
person_income                 0
person_home_ownership         0
person_emp_length             0
loan_intent                   0
loan_grade                    0
loan_amnt                     0
loan_int_rate                 0
loan_status                   0
loan_percent_income           0
cb_person_default_on_file     0
cb_person_cred_hist_length    0
dtype: int64

In [53]:
df.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [55]:
df.loan_grade.value_counts(True)

A    0.330776
B    0.320770
C    0.198214
D    0.111292
E    0.029588
F    0.007397
G    0.001964
Name: loan_grade, dtype: float64

In [56]:
df.cb_person_default_on_file.value_counts(True)

N    0.82367
Y    0.17633
Name: cb_person_default_on_file, dtype: float64

In [60]:
min(df.person_age)
max(df.person_age)

144

In [61]:
df[df.person_age > 75]

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
81,144,250000,RENT,4.0,VENTURE,C,4800,13.570000,0,0.02,N,3
183,144,200000,MORTGAGE,4.0,EDUCATION,B,6000,11.860000,0,0.03,N,2
575,123,80004,RENT,2.0,EDUCATION,B,20400,10.250000,0,0.25,N,3
747,123,78000,RENT,7.0,VENTURE,B,20000,11.011695,0,0.26,N,4
32297,144,6000000,MORTGAGE,12.0,PERSONAL,C,5000,12.730000,0,0.00,N,25
32355,78,48000,RENT,41.0,MEDICAL,A,3000,7.510000,0,0.06,N,25
32416,94,24000,RENT,1.0,MEDICAL,C,6500,11.011695,0,0.27,N,27
32422,80,64000,RENT,7.0,MEDICAL,B,6800,11.710000,0,0.11,N,25
32506,84,94800,MORTGAGE,2.0,PERSONAL,A,10000,7.510000,0,0.11,N,24
32534,76,75000,RENT,23.0,MEDICAL,A,15000,8.940000,0,0.20,N,25

In [62]:
df = df[df.person_age <= 100]
len(df)

32576

In [143]:
len(df[df.loan_int_rate > 15])
# len(df[df.loan_int_rate < 10])

3441

In [184]:
df['int_group'] = np.where(df.loc[:, 'loan_int_rate'] < 10, 'under 10%', 
                           (np.where((df.loc[:, 'loan_int_rate'] >= 10) & (df.loc[:, 'loan_int_rate'] <= 15), '10% - 15%', 'over 15%')))


prettyTable(df, 'int_group')

Empty DataFrame
Columns: []
Index: [(10% - 15%, 0.5417510898262418, 17647), (under 10%, 0.35264321237797014, 11487), (over 15%, 0.10560569779578804, 3440)]

In [185]:
df['age_group'] = np.where(df['person_age'] <25, 'under 25', 
                           (np.where((df['person_age'] >= 25) & (df['person_age'] <35), '25 - 35', 'over 35')))


prettyTable(df, 'age_group')

Empty DataFrame
Columns: []
Index: [(25 - 35, 0.49671517160925893, 16180), (under 25, 0.3780008595812611, 12313), (over 35, 0.12528396880947995, 4081)]

In [186]:
df['risk_group'] = np.where((df['loan_grade'] == 'A') | (df['loan_grade'] == 'B'), 'low risk', 
                           (np.where((df['loan_grade'] == 'C') | (df['loan_grade'] == 'D'), 'medium risk', 'high risk')))


prettyTable(df, 'risk_group')

Empty DataFrame
Columns: []
Index: [(low risk, 0.6515625959354087, 21224), (medium risk, 0.3094799533370173, 10081), (high risk, 0.03895745072757414, 1269)]

In [187]:
df.person_income.max()

df[df['person_income'] == df.person_income.max()]
df[df['person_income'] == df.person_income.min()]


df['income_group'] = np.where((df['person_income'] < 65000), 'under 65k', 
                           (np.where((df['person_income'] >= 65000) & (df['person_income'] <= 125000), '65k - 125k', '> 125k')))


prettyTable(df, 'income_group')

Empty DataFrame
Columns: []
Index: [(under 65k, 0.6112850739853871, 19912), (65k - 125k, 0.32329465217658254, 10531), (> 125k, 0.06542027383803033, 2131)]

In [173]:
df.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,age_group,int_group,risk_group,income_group
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2,young,medium,low risk,under 65k
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3,middle,medium,medium risk,under 65k
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2,young,high,medium risk,65k - 125k
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4,young,medium,medium risk,under 65k
5,21,9900,OWN,2.0,VENTURE,A,2500,7.14,1,0.25,N,2,young,low,low risk,under 65k

In [188]:
prettyTable(df, 'loan_intent')

Empty DataFrame
Columns: []
Index: [(EDUCATION, 0.19804138269785718, 6451), (MEDICAL, 0.18637563701111315, 6071), (VENTURE, 0.17547737459323387, 5716), (PERSONAL, 0.16942960643457972, 5519), (DEBTCONSOLIDATION, 0.16000491189292074, 5212), (HOMEIMPROVEMENT, 0.11067108737029532, 3605)]

In [189]:
prettyTable(df, 'loan_grade')

Empty DataFrame
Columns: []
Index: [(A, 0.33081598821145697, 10776), (B, 0.32074660772395164, 10448), (C, 0.19819487935163013, 6456), (D, 0.11128507398538712, 3625), (E, 0.029594154847424326, 964), (F, 0.0073985387118560815, 241), (G, 0.001964757168293731, 64)]

In [190]:
prettyTable(df, 'person_home_ownership')

Empty DataFrame
Columns: []
Index: [(RENT, 0.5047583962669614, 16442), (MORTGAGE, 0.41262970467243815, 13441), (OWN, 0.0793270706698594, 2584), (OTHER, 0.003284828390741082, 107)]

In [191]:
min(df['person_emp_length'])
max(df['person_emp_length'])

41.0

In [192]:
df = df[df['person_emp_length'] < 50]
df.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,age_group,int_group,risk_group,income_group
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2,under 25,10% - 15%,low risk,under 65k
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3,25 - 35,10% - 15%,medium risk,under 65k
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2,under 25,over 15%,medium risk,65k - 125k
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4,under 25,10% - 15%,medium risk,under 65k
5,21,9900,OWN,2.0,VENTURE,A,2500,7.14,1,0.25,N,2,under 25,under 10%,low risk,under 65k

In [203]:
min(df['loan_amnt'])
max(df['loan_amnt'])

35000

In [205]:
df['loan_size'] = np.where((df['loan_amnt'] < 10000), 'under 10k', 
                           (np.where((df['loan_amnt'] >= 10000) & (df['loan_amnt'] < 20000), '10k - 20k', '> 20k')))


prettyTable(df, 'loan_size')

Empty DataFrame
Columns: []
Index: [(under 10k, 0.579050776693068, 18862), (10k - 20k, 0.32418493276846566, 10560), (> 20k, 0.09676429053846626, 3152)]

In [ ]:
df.

In [205]:
# df['loan_size'] = np.where((df['loan_amnt'] < 10000), 'under 10k', 
#                            (np.where((df['loan_amnt'] >= 10000) & (df['loan_amnt'] < 20000), '10k - 20k', '> 20k')))


# prettyTable(df, 'loan_size')

Empty DataFrame
Columns: []
Index: [(under 10k, 0.579050776693068, 18862), (10k - 20k, 0.32418493276846566, 10560), (> 20k, 0.09676429053846626, 3152)]

## EDA and Visuals

In [165]:
# groupings of diff categories by loan status
# hist of income, emp length

# loan status by age, by income level, by home ownnership
# by int rate amt, by loan amt

In [ ]:
# explore loan amnts

In [176]:
df['income_group'].groupby(df.loan_status).value_counts(True)

loan_status  income_group
0            under 65k       0.559901
             65k - 125k      0.364668
             > 125k          0.075431
1            under 65k       0.795413
             65k - 125k      0.175039
             > 125k          0.029548
Name: income_group, dtype: float64

In [177]:
df['loan_status'].groupby(df.income_group).value_counts(True)

income_group  loan_status
65k - 125k    0              0.881873
              1              0.118127
> 125k        0              0.901455
              1              0.098545
under 65k     0              0.716101
              1              0.283899
Name: loan_status, dtype: float64

**The lower two income groups see higher rates of default, and make up a greater share of the defaults. In particular, the under 65k group sees a much higher level of risk**

    * 80% of all defaults are within the under 65k group
    * 28% of the under 65k group defaulted

In [178]:
prettyTable(df, 'loan_status')

Empty DataFrame
Columns: []
Index: [(0, 0.781819856327132, 25467), (1, 0.21818014367286792, 7107)]

In [182]:
df['age_group'].groupby(df.loan_status).value_counts(True)

loan_status  age_group
0            middle       0.502101
             young        0.371226
             old          0.126674
1            middle       0.477417
             young        0.402279
             old          0.120304
Name: age_group, dtype: float64

In [181]:
df['loan_status'].groupby(df.age_group).value_counts(True)

age_group  loan_status
middle     0              0.790297
           1              0.209703
old        0              0.790493
           1              0.209507
young      0              0.767806
           1              0.232194
Name: loan_status, dtype: float64

In [194]:
df.columns.to_list()

['person_age',
 'person_income',
 'person_home_ownership',
 'person_emp_length',
 'loan_intent',
 'loan_grade',
 'loan_amnt',
 'loan_int_rate',
 'loan_status',
 'loan_percent_income',
 'cb_person_default_on_file',
 'cb_person_cred_hist_length',
 'age_group',
 'int_group',
 'risk_group',
 'income_group']

In [195]:
df['person_home_ownership'].groupby(df.loan_status).value_counts(True)

loan_status  person_home_ownership
0            MORTGAGE                 0.461421
             RENT                     0.441787
             OWN                      0.093886
             OTHER                    0.002906
1            RENT                     0.730407
             MORTGAGE                 0.237794
             OWN                      0.027156
             OTHER                    0.004643
Name: person_home_ownership, dtype: float64

In [196]:
df['loan_status'].groupby(df.person_home_ownership).value_counts(True)

person_home_ownership  loan_status
MORTGAGE               0              0.874265
                       1              0.125735
OTHER                  0              0.691589
                       1              0.308411
OWN                    0              0.925310
                       1              0.074690
RENT                   0              0.684284
                       1              0.315716
Name: loan_status, dtype: float64

In [197]:
df['loan_intent'].groupby(df.loan_status).value_counts(True)

loan_status  loan_intent
0            EDUCATION            0.209683
             VENTURE              0.191189
             MEDICAL              0.174736
             PERSONAL             0.173636
             DEBTCONSOLIDATION    0.146150
             HOMEIMPROVEMENT      0.104606
1            MEDICAL              0.228085
             DEBTCONSOLIDATION    0.209652
             EDUCATION            0.156325
             PERSONAL             0.154355
             HOMEIMPROVEMENT      0.132405
             VENTURE              0.119178
Name: loan_intent, dtype: float64

In [198]:
df['loan_status'].groupby(df.loan_intent).value_counts(True)

loan_intent        loan_status
DEBTCONSOLIDATION  0              0.714121
                   1              0.285879
EDUCATION          0              0.827779
                   1              0.172221
HOMEIMPROVEMENT    0              0.738974
                   1              0.261026
MEDICAL            0              0.732993
                   1              0.267007
PERSONAL           0              0.801232
                   1              0.198768
VENTURE            0              0.851819
                   1              0.148181
Name: loan_status, dtype: float64

In [199]:
df['loan_grade'].groupby(df.loan_status).value_counts(True)

loan_status  loan_grade
0            A             0.381003
             B             0.343464
             C             0.200927
             D             0.058311
             E             0.013468
             F             0.002788
             G             0.000039
1            D             0.301112
             B             0.239341
             C             0.188406
             A             0.150978
             E             0.087379
             F             0.023920
             G             0.008864
Name: loan_grade, dtype: float64

In [201]:
df['loan_status'].groupby(df.loan_grade).value_counts(True)

loan_grade  loan_status
A           0              0.900427
            1              0.099573
B           0              0.837194
            1              0.162806
C           0              0.792596
            1              0.207404
D           1              0.590345
            0              0.409655
E           1              0.644191
            0              0.355809
F           1              0.705394
            0              0.294606
G           1              0.984375
            0              0.015625
Name: loan_status, dtype: float64

In [206]:
df['loan_size'].groupby(df.loan_status).value_counts(True)

loan_status  loan_size
0            under 10k    0.599364
             10k - 20k    0.318569
             > 20k        0.082067
1            under 10k    0.506261
             10k - 20k    0.344308
             > 20k        0.149430
Name: loan_size, dtype: float64

In [207]:
df['loan_status'].groupby(df.loan_size).value_counts(True)

loan_size  loan_status
10k - 20k  0              0.768277
           1              0.231723
> 20k      0              0.663071
           1              0.336929
under 10k  0              0.809246
           1              0.190754
Name: loan_status, dtype: float64

In [206]:
df['loan_size'].groupby(df.loan_status).value_counts(True)

loan_status  loan_size
0            under 10k    0.599364
             10k - 20k    0.318569
             > 20k        0.082067
1            under 10k    0.506261
             10k - 20k    0.344308
             > 20k        0.149430
Name: loan_size, dtype: float64

In [207]:
df['loan_status'].groupby(df.loan_size).value_counts(True)

loan_size  loan_status
10k - 20k  0              0.768277
           1              0.231723
> 20k      0              0.663071
           1              0.336929
under 10k  0              0.809246
           1              0.190754
Name: loan_status, dtype: float64